{%extends 'all-templates/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        {% for neighbourhood_item in neighbourhoods %}
        <div class="col-md-4"><br><br>
            <div class="card">
                <img class="card-img-top" height="400px" src="{{neighbourhood_item.landing_page.url}}" alt="Card image cap">
                <div class="card-body">
                    <h2 class=""><strong>{{neighbourhood_item.name}}</strong>:
                        {{neighbourhood_item.location}}</h2>
                    <a href="/hood_details/{{neighbourhood_item.id}}" style="text-decoration:none;">
                        <button class="btn btn-success btn-lg">Details</button></a>
                </div><br>
            </div><br>
        </div><br>
        {% endfor %}
    </div><br>
</div>
{% endblock %}