{%extends 'all-templates/base.html'%} 
{% load bootstrap3 %}
{% block content %}

<div class="profile-details">
    <div class="profile-img">
        {% if profiles.photo %}
        <img src="{{profiles.photo.url}}" alt="profile-photo">
        {% else %}
        <img src="/media/images/anonymous.png" alt="avatar">
        {% endif %}
    </div><br><br><br><br><br>
    <div class="username"><h2>{{profile.neighbourhood_name}}</h2></div>
</div>

{{form.media}}
{% endblock %}

<!-- <div class="row">
    <div class="col-sm-3">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-heart"></i></button><p>{{image_item.likes}} likes</p>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-volume-up"></i></button>
    </div>
</div> -->