{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link href="https://fonts.googleapis.com/css?family=Diplomata&display=swap" rel="stylesheet">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="#!">
                   <h2>Watchmen</h2>
                </a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <!-- Setting the links to #! will ensure that no action takes place on click. -->
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About</a></li>
                    <li><a href="#!">Neighbourhood services</a>
                        <ul class="nav-dropdown">
                            <li><a href="#!">See businessess</a></li>
                            <li><a href="#!">Neighbourhood details</a></li>
                            <li><a href="#!">Report injustices</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'prof' %}">Profile</a></li>
                    <li><a href="#!">Contact us</a>
                        <ul class="nav-dropdown">
                            <li><a href="#">Health Services</a></li>
                            <li><a href="#">Police authorities</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>